AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
KEYCLOAK_ID=sso.edison.network
KEYCLOAK_SECRET=your-keycloak-client-secret
KEYCLOAK_ISSUER=https://sso.edison.network/realms/master
BETTER_AUTH_SECRET=your-random-secret-key-at-least-32-chars